services:
  # ... (Lehet, hogy itt van a meglévő 'server' szolgáltatás)

  client: # Új szolgáltatás a frontendnek
    container_name: video_megoszto_client
    build:
      context: ./client # A build kontextus a client mappára mutat
      dockerfile: client.Dockerfile # Az imént létrehozott fájlt használja
    ports:
      - "80:80" # Leképezi a konténer 80-as portját a gazdagép 80-as portjára (vagy használjon 8080:80-at, ha a 80 foglalt)
    restart: always